<div class="row">
    <div class="large-12 columns">
        <h1>{{context.pipelineName}}</h1>
    </div>

    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="grid-block">
                <div class="grid-block">
                    <div class="grid-content" style="text-align: center">
                        <img tw-status-image="{{context.status}}" height="128" width="128" />
                    </div>
                    <div class="grid-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align: right">Context:</td>
                                    <td>{{context.id}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right">Start Time:</td>
                                    <td>{{context.startTime | date:'medium'}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right">End Time:</td>
                                    <td>{{context.endTime | date:'medium'}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right">Duration:</td>
                                    <td>{{context.duration | millisecondsToTimeString}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="large-6">
                    <div class="box-header grid-content" ng-click="showScript = !showScript">
                        <h4>Script</h4>
                    </div>
                    <div class="box-body grid-content" ng-show="showScript" style="max-height: 600px; overflow: scroll;">
                        <pre>
{{context.script}}
                        </pre>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="large-12 columns" ng-repeat="step in context.steps">
                    <div class="box-header" ng-click="step.show = !step.show">
                        <img tw-status-image="{{step.outcome}}" height="32" width="32" /> <strong>{{step.stepName}}</strong> <em>{{step.stepType}}</em> <span class="right">{{step.duration | millisecondsToTimeString}}</span>
                    </div>
                    <div class="box-body" ng-show="step.show">
                        <div class="large-12 columns" ng-repeat="attempt in step.attempts">
                            <div class="box-header" ng-click="attempt.show = !attempt.show">
                                <img tw-status-image="{{attempt.status}}" height="16" width="16" /> {{step.stepName}} &#8594; Attempt {{$index + 1}}
                            </div>
                            <div class="box-body" ng-show="attempt.show">
                                <pre>
<span ng-repeat="log in attempt.logs"><span style="font-weight: bold">{{log.time | date: 'HH:mm:ss'}}</span> {{log.message}}<br /></span>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();



    </script>
</div>