<div class="row">
    <div class="large-12 columns">
        <h1>{{contextId}}</h1>
    </div>

    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="row">
                <div class="large-6 columns">
                    <div class="box-header" ng-click="showScript = !showScript">
                        <h4>Script</h4>
                    </div>
                    <div class="box-body" ng-show="showScript">
                        <pre>
{{context.scriptText}}
                        </pre>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="row callout panel">
                        <div class="large-3 columns">
                            <small><span class="right">key:</span></small>
                        </div>
                        <div class="large-9 columns">
                            <small><span class="small left">value</span></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns" ng-repeat="step in context.steps">
                    <div class="box-header" ng-click="step.show = !step.show">
                        <img tw-status-image="{{step.outcome}}" height="32" width="32" /> {{step.stepName}}
                    </div>
                    <div class="box-body" ng-show="step.show">
                            <pre ng-bind-html="step.logs"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();



    </script>
</div>