<div class="grid-block large-up-1 align-center">
    <div class="grid-content align-center" style="text-align: center">
        <h1>{{pipelineName}}</h1><span class="right"><tw-command text="Start" command="/pipelines/{{pipelineName}}/start"></tw-command></span>
    </div>
    <div class="grid-block">
        <div class="grid-content">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in contexts">
                        <td><a ng-href="/#/pipelines/{{pipelineName}}/contexts/{{c.contextId}}"><img tw-status-image="{{c.status}}" height="32" width="32" /></a></td>
                        <td>{{c.startTime | date:'medium'}}</td>
                        <td>{{c.endTime | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>