<div class="grid-content">
    <div class="align-center grid-block">
        <div class="large-9">
            <h1>{{pipelineName}}</h1>
            <div class="grid-block" ng-repeat="c in contexts">
                <div class="large-3">
                    {{c.status}}
                </div>
                <div class="large-3">{{c.contextId.id}}</div>
                <div class="large-3">{{c.startTime}}</div>
                <div class="large-3">{{c.endTime}}</div>
            </div>
        </div>
    </div>
</div>