<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/sockjs-0.3.4.js"></script>
    <script src="/js/vendor/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/hello');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/greetings/{{contextId}}', function(event){
                    console.log(event);
                    processEvent(JSON.parse(event.body));
                });
            });
        }

        function processEvent(event) {
            var response = document.getElementById('response');
            if (event.type === 'greenmoonsoftware.tidewater.step.events.StepLogEvent') {
                var p = document.createElement('span');
                p.appendChild(document.createTextNode(event.message));
                response.appendChild(p);
                response.appendChild(document.createElement('br'));
            }
            if (event.type === 'greenmoonsoftware.tidewater.step.events.StepSuccessfullyCompletedEvent') {
                var p = document.createElement('hr');
                response.appendChild(p);
            }
            if (event.type === 'greenmoonsfotware.tidewater.step.events.StepStartedEvent') {
                var p = document.createElement('h4');
                p.appendChild(document.createTextNode(event.step.name));
                response.appendChild(p);
                response.appendChild(document.createElement('br'));
            }
            if (event.type === 'greenmoonsoftware.tidewater.config.events.ContextExecutionEndedEvent') {
                var p = document.createElement('h1');
                p.appendChild(document.createTextNode('FINISHED'));
                response.appendChild(p);
            }
        }
    </script>
</head>
<body onload="connect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div class="row">
        <div class="large-12 columns">
            <h1>Log</h1>
        </div>

        <div class="row">
            <div class="large-12 medium-12 columns">
                <h5>Here&rsquo;s your basic grid:</h5>
                <!-- Grid Example -->

                <div class="row">
                    <div class="large-12 columns">
                        <div class="callout panel">
              <pre id="response"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
      $(document).foundation();
    </script>
    </div>
</div>
</body>
</html>