<div class="grid-block large-up-1 align-center">
    <div class="grid-content align-center" style="text-align: center">
        <h1>{{pipeline.name}}</h1><tw-command text="Start" command="/pipelines/{{pipeline.name}}/start"></tw-command>
    </div>
    <div class="grid-block">
        <div class="grid-content">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in pipeline.getContexts() | orderBy: 'startTime' : true">
                        <td><a ng-href="/#/pipelines/{{pipeline.name}}/contexts/{{c.contextId}}"><img tw-status-image="{{c.status}}" height="32" width="32" /></a></td>
                        <td>{{c.startTime | date:'medium'}}</td>
                        <td>{{c.endTime | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-content">
            <div class="box-header grid-content" ng-click="showScript = !showScript">
                <h4>Script</h4>
            </div>
            <div class="box-body grid-content" ng-show="showScript" style="max-height: 600px; overflow: scroll;">
                <pre>
{{pipeline.script}}
                </pre>
            </div>
        </div>
    </div>
</div>