<div class="grid-block large-up-1 align-center">
    <div class="grid-content align-center" style="text-align: center">
        <h1>{{pipeline.name}} <small><tw-command text="Start" command="/pipelines/{{pipeline.name}}/start"></tw-command></small></h1>
    </div>
    <div class="grid-block">
        <div class="grid-content shrink">
            <table>
                <thead>
                    <tr>
                        <th colspan="3"><h4>Contexts</h4></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in pipeline.getContexts() | orderBy: 'startTime' : true">
                        <td><a ng-href="/#/pipelines/{{pipeline.name}}/contexts/{{c.id}}"><img tw-status-image="{{c.status}}" height="32" width="32" /></a></td>
                        <td>{{c.startTime | date:'medium'}}</td>
                        <td>{{c.endTime | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-content">
            <div class="box-header grid-content">
                <h4>
                    Script
                    <small>
                        <a class="button small hollow" href="#" zf-open="editModal">Edit <img height="16" width="16" src="./assets/img/edit.svg" /></a>
                    </small>
                </h4>
            </div>
            <div class="box-body grid-content" ng-show="showScript" style="max-height: 600px; overflow: scroll;">
                <pre>
{{pipeline.script}}
                </pre>
            </div>
        </div>
    </div>
</div>

<div zf-modal="" id="editModal" class="collapse">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <div class="center title">Update Script</div>
            <span zf-close="" class="right"><a>Close</a></span>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <form novalidate>
                <textarea elastic ng-model="formdata.script" >
                </textarea>
                <a class="button" ng-click="submitScriptUpdate(formdata)">Save</a>
                <a zf-close="" class="button">Cancel</a>
            </form>
        </div>
    </div>
</div>