<div class="grid-content">
    <div class="align-center grid-block">
        <div class="large-9">
            <div class="grid-block" ng-repeat="p in pipelines">
                <div class="large-3">
                    <img tw-status-image="{{p.status}}" height="32" width="32" />
                    <a ng-href="/#/pipelines/{{p.name}}/contexts"><span>{{p.name}}</span></a>
                </div>
                <div class="large-6">&nbsp;</div>
                <div class="large-3 float-right">
                    <a class="button dark" ng-click="startPipeline(p.name)">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>