<div class="grid-content">
    <div class="align-center grid-block">
        <div class="large-9">
            <div class="grid-block" ng-repeat="p in pipelines | orderBy: 'name'">
                <div class="large-3">
                    <img tw-status-image="{{p.status}}" height="32" width="32" />
                    <a ng-href="/#/pipelines/{{p.name}}"><span>{{p.name}}</span></a>
                </div>
                <div class="large-6">&nbsp;</div>
                <div class="large-3 float-right">
                    <tw-command text="Start" command="/pipelines/{{p.name}}/start"></tw-command>
                </div>
            </div>
        </div>
    </div>
</div>