---
name: pipeline-new
url: /pipeline/new
controller: NewController
---

<div class="grid-content">
  <div class="align-center grid-block">
    <div class="large-9">
      <form>
        <input type="text" placeholder="Name" />
        <textarea rows="10" placeholder="Script"></textarea>
        <div class="float-right">
          <input type="submit" class="button" value="Submit" />
          <buton class="button secondary" ng-click="sayHi()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
