<div class="grid-content">
  <div class="align-center grid-block">
    <div class="large-9">
      <form novalidate>
        <input type="text" placeholder="Name" ng-model="formData.name" />
        <textarea rows="10" placeholder="Script" ng-model="formData.script"></textarea>
        <div class="float-right">
          <button class="button" ng-click="postScript(formData)">Submit</button>
          <button class="button secondary">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
