<div class="grid-block shrink">
    <div style="vertical-align: middle" class="grid-content shrink">
        <a class="button small hollow" ng-click="start()">
            {{text}}
            <img height="16" width="16" src="./assets/img/spinner.gif" ng-show="loading" />
            <img height="16" width="16" src="./assets/img/ok.svg" ng-show="success" />
            <img height="16" width="16" src="./assets/img/error.svg" ng-show="error" />
            <!--<span class="label" ng-show="loading">Working...</span>-->
            <!--<span class="label success" ng-show="success">Submitted</span>-->
            <!--<span class="label alert" ng-show="error">Failed</span>-->
        </a>
    </div>
    <!--<div style="vertical-align: middle" class="grid-content shrink">-->
        <!--<span class="label" ng-show="loading">Working...</span>-->
        <!--<span class="label success" ng-show="success">Submitted</span>-->
        <!--<span class="label alert" ng-show="error">Failed</span>-->
        <!--<img height="32" width="32" src="./assets/img/spinner.gif" ng-show="loading" />-->
        <!--<img height="32" width="32" src="./assets/img/green-check.svg" ng-show="success" />-->
        <!--<img height="32" width="32" src="./assets/img/error.svg" ng-show="error" />-->
    <!--</div>-->
</div>